# RabbitMQ - Message broker med Management UI
# Management UI er kun til dev/debug - i produktion brug port forward kubectl port-forward svc/rabbitmq 15672:15672

# Deployment - styrer pods (start, stop, scale, restart)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:4-management
          ports:
            - containerPort: 5672    # hvor services sender beskeder
            - containerPort: 15672   # Management UI
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "guest"
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: taskmanagement-secret
                  key: RabbitMQ__Password # fra secret.yaml
---
# Service - giver Pods et stabilt DNS-navn "rabbitmq" som andre services kan bruge
# pods kan bruge rabbitmq:5672
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  type: NodePort
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      port: 5672
    - name: management
      port: 15672
      nodePort: 30672    # tilgængelig på localhost:30672
